@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --fon1:'Supermercado One', cursive;
    --fon2: 'Lobster', cursive;
}
html, body{
    background-color: rgb(239, 241, 241);
    min-height: 100vh;
   
}
header{
    background-color: black;
    color: beige;
    text-align: center;
    font-family: var(--fon1);
    
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 7vw;

}
header > p {
    padding-bottom: 50px;

}
a{
    color: beige;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
a::after{
    content: '\00A0\1F517';
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:30px;
    font-family: var(--fon2);
    font-size: 3.5vw;
}
section.nomal{
    background-color: black;
    color: white;
}   
section.imagem{
    background-color: rgb(255, 0, 119);
    color:beige;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.712);
    background-attachment: fixed;
    
}
section.imagem > p {
    background-color: rgba(49, 47, 47, 0.719);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url("imagens/background001.jpg");
    background-position: center center;
    background-size: cover;
}
section#img02{
    background-image: url("imagens/background002.jpg");
    background-size: cover;
}
section > p{
    padding-bottom: 1em;
    font-size: bold;
}
footer{
    background-color: black ;
    text-align: center;
    color: azure;
    padding: 10px;
    margin-bottom: 20px;
}